@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.a1 {
margin-bottom: -600px;
margin-top: -112px;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Esto eliminará el scrolld */
  width: 100vw; /* Asegura que el ancho sea del 100% del viewport */
  height: 100vh; /* Asegura que la altura sea del 100% del viewport */
  color: rgb(var(--foreground-rgb));
  background: 
  
    
    url('/background.png');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el fondo */
  background-position: cover; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
